<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/common.css' %}?v=1">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/settings.css' %}?v=1">
    <title>Your profile</title>
</head>
<body>  
  {% include 'header.html' %}
    <main class="edit-main-wrap" style="margin-top: 50px;">
        <p class="edit-info-text">Edit your profile bio and avatar!</p>
        <div class="wrap-edit-content">
          <div class="edit-wrap">
            <section class="top-section">

            </section>
            <section class="left-edit-content">
                <!-- Image -->
                <div>
                    <h4 style="text-align: center;">Avatar </h4>
                    <img id="profile picture" class="profile-img-edit" src={{user_info.img_src.url}} alt="Profile picture">
                    
                    <!-- Upload New Image-->
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <label for="file-upload" class="btn-select-change-avatar">
                        <input type="file" id="file-upload" name="new_profile_picture" style="display: none;" onchange="form.submit()">
                        <i class='bx bx-image-alt'></i> Change
                    </label>
                    </form>
                </div>
            </section>
            <section class="right-edit-content">
                <!-- Username-->
                <h4>Username </h4>
              <input class = "custom-input" type="text" value={{user_info.auth_user}} disabled>
            <!-- First & second name (might not have any value)-->
              <h4>First Name </h4>
              <input class = "custom-input" type="text" value={{user_info.auth_user.first_name}} disabled>

              <h4>Last Name </h4>
             {% if user_info.auth_user.last_name == "" %} 
                <input class = "custom-input" type="text"  disabled>
             {% else %}
                <input class = "custom-input" type="text"  value={{user_info.auth_user.last_name}}  disabled>
             {% endif %}      

            <!-- email -->
              <h4>Email </h4>
              <input  class = "custom-input" type="text"  value={{user_info.auth_user.email}} disabled>
            <!-- Bio -->
            <h4>Bio </h4>
            <form method="post">
             {% csrf_token %}
              <textarea class = "custom-input" name="new_bio" maxlength="200" required>{{user_info.bio}}</textarea>
              <!-- Buttons -->
              <div class="edit-btn-section">
                <a class="btn-go-back" href="/user_page/"> <i class='bx bx-arrow-back'></i> Go back</a>
                <button type="submit" class="btn-go-back" style="margin-left: 10px; cursor: pointer"><i class='bx bxs-save'></i>Save changes</button>
              </div>
            </form>
            </section>
          </div>
        </div>
      </section>
    </main>
</body>
</html>